h3, h4 {
  color: darkred;
}

* {
  color: lightgrey;
  text-align: center;
  font-family: "Tahoma";

}

img[src="https://i.ibb.co/Cp6Rk9rW/Screenshot-2025-10-28-at-09-13-48.png"] {
  filter: contrast(3);
}

ul, ol {
    padding-right: 45px;
    padding-bottom: 15px;
    padding-top: 15px;
    list-style-position: inside;

}

.layout {
  width: 100%;

  display: grid;
  grid:
    "sidebar body" 1fr
    / auto 1fr;
  gap: 0px;
}

.sidebar { grid-area: sidebar; }
.body { grid-area: body; }

body {background-color: black;
.sidebar {background-color: darkred;
.sidebar {width: 150px;